
[tool.black]
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | dev
  | examples
  | integration_tests
)/
'''
include = '\.pyi?$'
line-length = 120
target-version = ['py36', 'py37', 'py38']

[tool.pylint.messages_control]
disable = "C0330, C0326"

[tool.pylint.format]
max-line-length = "120"

[tool.pytest.ini_options]
testpaths = [
  "raymon/tests",
]
